.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.back-show-image{
    background-color: #f2f4f5;
    display: flex;
    justify-content: space-around;
}

.back-show-image .main-no-image{
    color: #627884;
    padding: 20px 0;
}

.uploader-icon {
    width: 25px;
}