.main{
    background-image: url('../../../public/assets/img/background/login.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

.main .main-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .main-panel img{
    margin-bottom: 30px;
}

.main .main-panel .login-panel input{
    background-color: unset;
    border: unset;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
    color: #ffffff;
}

.main .main-panel .login-panel input::placeholder{
    color: #ffffff;
}

.main .main-panel .login-panel input:focus{
    outline-width: 0;
    border-bottom: 1px solid #70D807;
    transition: 0.7s;
}

.main .main-panel .login-panel input:focus::placeholder{
    color: #70D807;
    transition: 0.7s;
}