.caret{
    display: none;
}

body #gritter-notice-wrapper{
    display: none;
}

.header .navbar-nav>li>a .label{
    top: 10px;
    right: 12px;
}

.header .navbar-brand .navbar-logo {
    background: unset;
    border: unset;
    border-color: unset;
    display: block;
    width: 60px;
    margin-right: 0;
}

.page-header small {
    margin-left: 5px;
}