/* body {
    height: 100%;
    letter-spacing: 0!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale!important;
    background-color: unset!important;
    text-align: unset!important;
    color: unset!important;
    line-height: unset!important;
    font-weight: unset!important;
    font-size: .75rem!important;
    font-family: "Open Sans",sans-serif!important
}

.content {
    margin-left: 220px!important;
    padding: 20px 30px!important;
}

.header {
    border: unset!important;
    z-index: 1020!important;
    padding: 0!important;
    transition: box-shadow .2s linear!important;
} */