.main-panel-released{
    border: solid 1px #C3C4C7;
    border-radius: 3px;
    margin: 9px;
    padding: 0;
}

.main-panel-released .header-release{
    border-bottom: solid 1px #C3C4C7;
    padding: 10px;
}

.main-panel-released label{
    padding: 10px;
}

.main-panel-released label span{
    font-weight: bold;
}

.ck.ck-editor__main>.ck-editor__editable{
    height: 200px;
}